@import './variables.scss';
@import './colors.scss';

.app {
    &__container {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    &__wrapper {
        margin: 20px 0px 0px 50px;
    }

    &__logo {
        line-height: 50px;
    }
}

.header {
    background: $dark;
    padding: 0 50px;
    height: 52px;
    display: flex;
    justify-content: space-between;

    &-text {
        color: $white;
        font-size: $font-size-large;
        font-weight: $font-bold;
    }

    &__menu {
        align-self: center;
        
        &-icon {
            font-size: 30px;
            color: $white;
            opacity: 0.9;
            margin-left: 8px;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.authentication {
    &__form {
        width: 500px;
        margin: 100px auto;
        border: 1px solid $gray;
        padding: 50px;
        border-radius: 8px;
        flex: 1 1;

        &-button {
            width: 100%;
        }
    }
}
