@import './variables.scss';
@import './colors.scss';

.app {
    &__container {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    &__header {
        background: $dark;

        &-text {
            color: $white;
            font-size: $font-size-large;
            font-weight: $font-bold;
        }
    }

    &__wrapper {
        margin: 20px 0px 0px 50px;
    }

    &__logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }
}

.authentication {
    &__form {
        width: 500px;
        margin: 100px auto;
        border: 1px solid $gray;
        padding: 50px;
        border-radius: 8px;
        flex: 1 1;

        &-button {
            width: 100%;
        }
    }
}
