@import './variables.scss';
@import './colors.scss';

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: $app-background;
}

.app {
  margin: 25px 50px;
  min-height: -webkit-fill-available;

  &__container {
    display: flex;
  }

  &__page {
    flex: 1;
    margin-left: 15px;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
  }

  &__logo {
    line-height: 50px;
  }

  &__tab {
    margin: 0 8px;
  }

  &__breadcrumb {
    margin-bottom: 20px;
  }
}

.header {
  background: $white;
  padding: 0 50px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 2px $gray;

  &-text {
    color: $white;
    font-size: $font-size-large;
    font-weight: $font-bold;
  }

  &__menu {
    align-self: center;
    display: flex;

    &-tag {
      font-size: 13px;
      padding: 5px;
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.authentication {
  &__form {
    width: 500px;
    margin: 100px auto;
    border: 1px solid $gray;
    background: $white;
    padding: 50px;
    border-radius: 8px;
    flex: 1 1;

    &-button {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

.plans {
  &__creation-form {
    min-width: 400px;
  }

  &__overview {
    display: flex;
    justify-content: space-evenly;
  }

  &__avatar-uploader {
    cursor: pointer;
    align-self: center;
    margin-right: 25px;
  }

  &__details {
    flex-grow: 2;
  }

  &__files {
    padding: 10px 0;

    &-menu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    &-edit {
      margin-bottom: 10px;
    }
  }

  &__issues {
    padding: 10px 0;
    &-create {
      margin-bottom: 20px;
      text-align: right;
    }
  }
}

.profile {
  &__avatar-uploader {
    cursor: pointer;
  }
}
