@import 'styles/colors.scss';

.info-card {
  padding: 15px;
  display: flex;
  background: $real-light-gray;
  justify-content: space-between;
  border: 1px solid $gray;
  border-radius: 5px;
  cursor: pointer;

  &__text {
    margin-right: 10px;
  }

  &:hover {
    border-color: $light-black;
    transition: 0.1s ease-in-out;
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
  }
}